@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  /*border: red 2px solid;*/
  font-family: "dancing script", cursive;
  background-color: #f5e8e0;
  text-align: center;
  /*overflow: hidden; /* evita el desplazamiento*/
}

.heart-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* para que no se superponga con el resto de elementos */
  /*overflow: hidden; /* Evitar que los corazones se salgan de la pantalla */
}
.heart {
  position: absolute;
  width: 100px;
  height: 90px;
  background-color: transparent;
  transform: rotate(45deg);
  animation: heartAnimation 5s infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: #e85a4f;
  border-radius: 50px 50px 0 0;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg) translateX(15px) translateY(-15px);
}

.heart::after {
  left: 50px;
  transform: rotate(223deg) translateX(-1px) translateY(1px);
}

@keyframes heartAnimation {
  0% {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(45deg) scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
}

.container {
  /*border: red 2px solid;*/
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative; /* Permitir que el contenido se superponga a los corazones */
}

.text-container-left {
  /*border: red 2px solid;*/
  width: 300px;
  font-size: 18px;
  float: left;
}

.text-container-right {
  /* border: red 2px solid;*/
  width: 300px;
  font-size: 18px;
  float: right;
}

.animated-text {
  font-size: 4rem;
  color: #e85a4f;
  animation: textAnimation 3s infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

.photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.photo-animated {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: photoAnimation 5s infinite;
}

@keyframes heartAnimation {
  0% {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(45deg) scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
}

@keyframes textAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes photoAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(10deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-10deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
